a {
    text-decoration: none !important;
}


#rev_slider_4_1 {
  max-height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 551px;
}
#rev_slider_4_1_wrapper {
  margin: 0px auto;
  padding: 0px;
  height: 551px;
  position: absolute;
  overflow: visible;
  left: 0px;
  background-color: transparent;
}

#homeslides {
  visibility: visible;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: none;
}

.flex-active-slide {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 5;
}

.test {
  height: 100%;
  position:relative;
  //background:   url("../images/slide/image00.jpg")no-repeat;
  background-size: cover;
  background-position: center;
}

.flexslider , .flexslider-container{
  height: 100%;
}

.header__info__items-right {
  a {
    display: inline-block;
    padding: 5px 5px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .becomeConnector {
    display: inline-block;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    text-shadow: none;
    margin-right: 10px;
    background: #4FBBBC no-repeat 10px 10px;
  }
}

// Facebook CSS
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button#twitter {
    border-color: #007aa6;
    background-color: #008cbf;
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image:url(http://i.tinyuploads.com/KBZc6n.png);
}
div.social-wrap button:active {
    background-color: #222;
}
div.social-wrap.c button {
    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.c {
}
div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.c > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.c > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}
div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}
ul.sm-wrap li {
    font-family:"Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
ul.sm-wrap li#twitter-sm {
    background-image:url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
ul.sm-wrap li#gplus-sm {
    background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

ul.sm-wrap a{
    text-decoration: none;
}

/// End facebook

a.link {
  cursor: pointer;
}


// fix slide
.flexslider .slides {
  height: 100%;
}

//Home page
.heading {
  text-align: center;
  font-family: Oxygen;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.25em;
}

.meetUpHospitable {
  font-weight: 700;
  color: #EF2B96;
}

.becomeALocalCulture {
  font-weight: 700;
  color: #EC9E28;
}

.searchForTheDestination {
  font-size: 1.75em;
  color: #AF3595;
  border: solid 2px #ccc;

}
input.searchForTheDestination::-webkit-input-placeholder {
  color: #EF2B96 !important;
}
 
input.searchForTheDestination:-moz-placeholder { /* Firefox 18- */
  color: #EF2B96 !important;  
}
 
input.searchForTheDestination::-moz-placeholder {  /* Firefox 19+ */
  color: #EF2B96 !important;  
}
 
input.searchForTheDestination:-ms-input-placeholder {  
  color: #EF2B96 !important;  
}
.kindOfExperiences {
  font-size: 18px;
  height: 45px;
  color: #5FAF35;  
  border: solid 2px #231111;
  border-style: dotted;
}
  