<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cultures Connect</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="herokuTestApp">
    <!-- Facebook intergration -->
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- Add your site or application content here -->
    <header class="header" role="banner" ng-controller="HeaderCtrl">
            <div class="container" ng-init="loading();">
                <div class="header__info">
                    <div class="header__info__items-right">
                        <div class=
                        "header__info__item header__info__item--delimiter" ng-if='currentUser == null'>
                          <a class="link" ng-click="clickToOpen('signin');">SIGN IN</a>
                          <a class="link" ng-click="clickToOpen('signup');">SIGN UP</a>
                          <a title="Become a cultures Connector" class="becomeConnector">Become a culture Connector</a>
                        </div>
                        <div class="header__info__item header__info__item--delimiter" ng-if='currentUser'>
                          <p>Hello <em>{{currentUser.attributes.username}}</em></p>
                        </div>
                    </div>

                </div>
                <div class="header__content-wrap">
                    <div class="row">
                        <div class="col-md-12 header__content">
                            <div class="logo">
                                <a ng-href="#/"
                                id="logoLink">
                                <img alt="Cultures Connect" id=
                                "normalImageLogo" src=
                                "../images/logo.jpg"
                                title="Cultures Connect">
                                Cultures Connect
                              </a>
                            </div>
                            <nav class="main-nav-header" role="navigation">
                                <ul class="main-nav" id="navigation">
                                  <!-- HOME -->
                                    <li class=
                                    "menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-150 current_page_item menu-item-152"
                                    id="menu-item-152">
                                        <a href=
                                        "http://adventure-tours.themedelight.com/">Home</a>
                                    </li>
                                    <li class=
                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107"
                                    id="menu-item-107">
                                        <a href="#">Tours</a>
                                        <ul class="sub-menu">
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-page menu-item-108"
                                            id="menu-item-108">
                                                <a>Search Tours</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-product menu-item-687"
                                            id="menu-item-687">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tours/canadian-rockies/">
                                                Single Tour</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-taxonomy menu-item-object-tour_category menu-item-616"
                                            id="menu-item-616">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tour-category/deals-and-discounts/">
                                                Hot Deals</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-928"
                                            id="menu-item-928">
                                                <a href="#">Layouts</a>
                                                <ul class="sub-menu">
                                                    <li class=
                                                    "menu-item menu-item-type-post_type menu-item-object-page menu-item-929"
                                                    id="menu-item-929">
                                                        <a href=
                                                        "http://adventure-tours.themedelight.com/tours/">
                                                        List</a>
                                                    </li>
                                                    <li class=
                                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-930"
                                                    id="menu-item-930">
                                                        <a href=
                                                        "http://adventure-tours.themedelight.com/tours/?tgrid=3">
                                                        Grid &#8211; 3 Cols</a>
                                                    </li>
                                                    <li class=
                                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-931"
                                                    id="menu-item-931">
                                                        <a href=
                                                        "http://adventure-tours.themedelight.com/tours/?tgrid=4">
                                                        Grid &#8211; 4 Cols</a>
                                                    </li>
                                                    <li class=
                                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-932"
                                                    id="menu-item-932">
                                                        <a href=
                                                        "http://adventure-tours.themedelight.com/tours/?tgrid=2s">
                                                        Grid &#8211; 2 Cols (with
                                                        sidebar)</a>
                                                    </li>
                                                    <li class=
                                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-933"
                                                    id="menu-item-933">
                                                        <a href=
                                                        "http://adventure-tours.themedelight.com/tours/?tgrid=3s">
                                                        Grid &#8211; 3 Cols (with
                                                        sidebar)</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=
                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-923"
                                    id="menu-item-923">
                                        <a href="#">Booking</a>
                                        <ul class="sub-menu">
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-product menu-item-924"
                                            id="menu-item-924">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tours/discover-costa-rica/">
                                                Date</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-product menu-item-925"
                                            id="menu-item-925">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tours/surfing/">
                                                Date &#038; time</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-product menu-item-926"
                                            id="menu-item-926">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tours/skiing/">
                                                No date</a>
                                            </li>
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-product menu-item-927"
                                            id="menu-item-927">
                                                <a href=
                                                "http://adventure-tours.themedelight.com/tours/lake-tahoe-adventure/">
                                                Other</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=
                                    "menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-102"
                                    id="menu-item-102Trần Ngọc Đức Tôi là tôn ngộ không !! sau 2 tháng mất facebook hôm nay tôi đã lấy lại được ních !! giờ đây tôi muốn tìm lại các anh em trong hội TÂY DU KÝ !! nếu ai biết team chúng tôi hãy cho tôi lên top để tìm lại ae
">
                                        <a href="#">About Cultures Connect</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clearfix"></div>
                        </div><!-- .header__content -->
                    </div>
                </div><!-- .header__content-wrap -->
            </div><!-- .container -->
        </header>

    <div class="container">
      <div ng-view=""></div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row margin-top margin-bottom footer__widgets-areas">
                <div class="col-md-3">
                    <div class="widget block-after-indent widget_text" id=
                    "text-2">
                        <h3 class="widget__title">About Us</h3>
                        <div class="textwidget">
                            <div style="margin-top: -10px;">We are a small
                            company based in San Francisco which delivers
                            outstanding adventure travel experiences.<br>
                            <img alt="Travel Awards" src=
                            "http://cdn2-adventure-tours.themedelight.com/wp-content/uploads/2015/07/travel-awards.png"
                            style="margin-top:20px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=
                    "widget block-after-indent widget_last_posts_adventure_tours"
                    id="last_posts_adventure_tours-2">
                        <div class="widget-last-posts">
                            <h3 class="widget__title">From the Blog</h3>
                            <div class="widget-last-posts__item">
                                <div class=
                                "widget-last-posts__item__container">
                                    <div class=
                                    "widget-last-posts__item__container__item widget-last-posts__item__container__item--image">
                                    <a class="widget-last-posts__item__image"
                                        href=
                                        "http://adventure-tours.themedelight.com/before-you-go/">
                                        <img alt="Packing" class=
                                        "attachment-thumb_last_posts_widget wp-post-image"
                                        height="60" src=
                                        "http://cdn2-adventure-tours.themedelight.com/wp-content/uploads/2015/07/packing-60x60.jpg"
                                        width="60"></a>
                                    </div>
                                    <div class=
                                    "widget-last-posts__item__container__item widget-last-posts__item__info">
                                    <div class=
                                    "widget-last-posts__item__title">
                                            <a href=
                                            "http://adventure-tours.themedelight.com/before-you-go/">
                                            Before You Go</a>
                                        </div>
                                        <div class=
                                        "widget-last-posts__item__date">
                                            July 17, 2015
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-last-posts__item">
                                <div class=
                                "widget-last-posts__item__container">
                                    <div class=
                                    "widget-last-posts__item__container__item widget-last-posts__item__container__item--image">
                                    <a class="widget-last-posts__item__image"
                                        href=
                                        "http://adventure-tours.themedelight.com/national-parks-in-costa-rica/">
                                        <img alt="Arenal Volcano in Costa Rica"
                                        class=
                                        "attachment-thumb_last_posts_widget wp-post-image"
                                        height="60" src=
                                        "http://cdn2-adventure-tours.themedelight.com/wp-content/uploads/2015/07/costa-rica-volcano-60x60.jpg"
                                        width="60"></a>
                                    </div>
                                    <div class=
                                    "widget-last-posts__item__container__item widget-last-posts__item__info">
                                    <div class=
                                    "widget-last-posts__item__title">
                                            <a href=
                                            "http://adventure-tours.themedelight.com/national-parks-in-costa-rica/">
                                            Costa Rica Parks</a>
                                        </div>
                                        <div class=
                                        "widget-last-posts__item__date">
                                            June 20, 2015
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=
                    "widget block-after-indent widget_twitter_tweets_adventure_tours"
                    id="twitter_tweets_adventure_tours-2">
                        <h3 class="widget__title">Latest Tweets</h3>
                        <div class="widget-twitter">
                            <div class="widget-twitter__item">
                                <div class="widget-twitter__item__container">
                                    <div class=
                                    "widget-twitter__item__container__item widget-twitter__item__container__item--image">
                                    <img alt="" height="48" src=
                                    "http://pbs.twimg.com/profile_images/655904741617086464/nwevoHSQ_normal.png"
                                    width="48"></div>
                                    <div class=
                                    "widget-twitter__item__container__item widget-twitter__item__info">
                                    <a class="widget-twitter__item__name"
                                        href="https://twitter.com/envato"
                                        target="_blank">Envato</a>
                                        <div class=
                                        "widget-twitter__item__login">
                                            <a href=
                                            "https://twitter.com/envato"
                                            target="_blank">@envato</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-twitter__item__content">
                                    RT <a href=
                                    "https://twitter.com/StartupSmartnow" rel=
                                    "nofollow" style="font-weight:lighter;"
                                    target="_blank">@StartupSmartnow:</a>
                                    .@cyantaeed on how she made <a href=
                                    "https://twitter.com/envato" rel="nofollow"
                                    style="font-weight:lighter;" target=
                                    "_blank">@envato</a> a "cool" company for
                                    women <a href="https://t.co/beS4rynz24"
                                    rel="nofollow" target=
                                    "_blank">https://t.co/beS4rynz24</a>
                                    <a href="https://t.co/dsQQXrQ51a" rel=
                                    "nofollow" target=
                                    "_blank">https://t.co/dsQQXrQ51a</a>
                                </div>
                                <div class="widget-twitter__item__time">
                                    2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=
                    "widget block-after-indent widget_contact_us_adventure_tours"
                    id="contact_us_adventure_tours-2">
                        <div class="widget-contact-info">
                            <h3 class="widget__title">Contact Us</h3>
                            <div class="widget-contact-info__item">
                                <div class="widget-contact-info__item__icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="widget-contact-info__item__text">
                                    <span>777 Franklin St, San Francisco</span>
                                </div>
                            </div>
                            <div class="widget-contact-info__item">
                                <div class="widget-contact-info__item__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="widget-contact-info__item__text">
                                    <a href="call:+14202406000">+1
                                    420-240-6000</a>
                                </div>
                            </div>
                            <div class="widget-contact-info__item">
                                <div class="widget-contact-info__item__icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="widget-contact-info__item__text">
                                    <a href=
                                    "mailto:contact@adventuretours.com">contact@adventuretours.com</a>
                                </div>
                            </div>
                            <div class="widget-contact-info__item">
                                <div class="widget-contact-info__item__icon">
                                    <i class="fa fa-skype"></i>
                                </div>
                                <div class="widget-contact-info__item__text">
                                    <a href=
                                    "skype:adventure.tours?call">adventure.tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__arrow-top">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer__copyright">
                            © Cultures Connect, 2015. Made with love and care
                            by <a href=
                            "http://themedelight.com">ThemeDelight</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-nav">
                            <ul class="menu" id="menu-footer-menu">
                                <li class=
                                "menu-item menu-item-type-custom menu-item-object-custom menu-item-141"
                                id="menu-item-141">
                                    <a href="#">Terms &#038; Conditions</a>
                                </li>
                                <li class=
                                "menu-item menu-item-type-custom menu-item-object-custom menu-item-142"
                                id="menu-item-142">
                                    <a href="#">Cookies</a>
                                </li>
                                <li class=
                                "menu-item menu-item-type-custom menu-item-object-custom menu-item-143"
                                id="menu-item-143">
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/parse-js-sdk/lib/parse.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-directive.g-signin/google-plus-signin.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/getdatamainpart2part2.js"></script>
        <script src="scripts/directives/mainsliderimage.js"></script>
        <script src="scripts/directives/addimage.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/services/myservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <!-- endbuild -->
</body>
<script>
  // Initialize Parse
  Parse.initialize("35gDWedNY3uVt6bHHHjEIBeGvHp7BoaN1wXbLF2n", "Zxgz4cKELphn9KlrsygEfyzrrvhU6rySx4O6zEMf");

  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({ // this line replaces FB.init({
      appId      : '539497246223460', // Facebook App ID
      status     : true,  // check Facebook Login status
      cookie     : true,  // enable cookies to allow Parse to access the session
      xfbml      : true,  // initialize Facebook social plugins on the page
      version    : 'v2.3' // point to the latest Facebook Graph API version
    });

        // Run code after the Facebook SDK is loaded.
  };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
</html>
