<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cultures Connect</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="herokuTestApp">
    <!-- Facebook intergration -->
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- Add your site or application content here -->
    <header class="header" role="banner" ng-controller="HeaderCtrl">
            <div class="container" ng-init="loading();">
                <div class="header__content-wrap">
                    <div class="row">
                        <div class="col-md-12 header__content">
                            <div class="logo col-md-4">
                                <a ng-href="#/"
                                id="logoLink">
                                <img alt="Cultures Connect" id=
                                "normalImageLogo" src=
                                "../images/logo.jpg"
                                title="Cultures Connect">
                              </a>
                            </div>
                            <div class="col-md-8 row">
                               <div ng-if="currentUser == null">
                                  <a class="link col-md-6 meetUpHospitable" ng-click="clickToOpen('signin');">© Meet up with Hospitable Local Host</a>
                                  <a class="link col-md-6 becomeALocalCulture" ng-click="clickToOpen('signin');">© Become a Local Culture Ambassador</a> 
                               </div> 
                               <div ng-if="currentUser">
                                <p>Hello<em>{{currentUser.attributes.username}}</em></p>
                               </div>
                            </div>
                             
                        </div>

                        <!-- .header__content -->
                    </div>
                </div><!-- .header__content-wrap -->
            </div><!-- .container -->
        </header>

    <div class="container">
      <div ng-view=""></div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row margin-top margin-bottom footer__widgets-areas">
                <div class="col-md-6">
                    <div class="widget block-after-indent widget_text" id=
                    "text-2">
                        <h3 class="widget__title">About Us</h3>
                        <div class="textwidget">
                            <div style="margin-top: -10px;">The Keys English Café – The hub to meet up with locals in Da Nang, Vietnam – 54 Le Lai Street<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=
                    "widget block-after-indent widget_last_posts_adventure_tours"
                    id="last_posts_adventure_tours-2">
                        <div class="widget-last-posts">
                            <h3 class="widget__title">Contact Us</h3>
                            <div class="textwidget">
                                <div style="margin-top: -10px;">© Send us an email at vietnamesefriends@gmail.com<br>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/parse-js-sdk/lib/parse.js"></script>
    <script src="bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-directive.g-signin/google-plus-signin.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/getdatamainpart2part2.js"></script>
        <script src="scripts/directives/mainsliderimage.js"></script>
        <script src="scripts/directives/addimage.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/services/myservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/services/searchfactory.js"></script>
        <!-- endbuild -->
</body>
<script>
  // Initialize Parse
  Parse.initialize("35gDWedNY3uVt6bHHHjEIBeGvHp7BoaN1wXbLF2n", "Zxgz4cKELphn9KlrsygEfyzrrvhU6rySx4O6zEMf");

  window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({ // this line replaces FB.init({
      appId      : '539497246223460', // Facebook App ID
      status     : true,  // check Facebook Login status
      cookie     : true,  // enable cookies to allow Parse to access the session
      xfbml      : true,  // initialize Facebook social plugins on the page
      version    : 'v2.3' // point to the latest Facebook Graph API version
    });

        // Run code after the Facebook SDK is loaded.
  };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
</html>
