<footer class="footer">
    <div class="container">
        <div class="row margin-top margin-bottom footer__widgets-areas">
            <div class="col-md-6">
                <div class="widget block-after-indent widget_text" id=
                "text-2">
                    <h3 class="widget__title">About Us</h3>
                    <div class="textwidget">
                        <div style="margin-top: -10px;">The Keys English Café – The hub to meet up with locals in Da Nang, Vietnam – 54 Le Lai Street<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=
                "widget block-after-indent widget_last_posts_adventure_tours"
                id="last_posts_adventure_tours-2">
                    <div class="widget-last-posts">
                        <h3 class="widget__title">Contact Us</h3>
                        <div class="textwidget">
                            <div style="margin-top: -10px;">© Send us an email at vietnamesefriends@gmail.com<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
