<article>
  <section>
    <div class="container layout-container margin-top margin-bottom">
        <div class="row">
          <form name="outerForm" class="tab-form-demo">
            <uib-tabset class="tours-tabs tabs-left row" vertical="true">
              <uib-tab heading="{{step.title}}" ng-repeat="step in steps">
                <ng-form name="nestedForm" ng-submit="submitAllForm();" novalidate>
                  <div class="tours-tabs__content">
                    <div class="tab-content hidden-xs col-md-9">
                      <div class="tab-pane active in" id="tabdescription">
                        <div class="tours-tabs__content padding-all">
                          <div ng-include="step.templateUrl"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-form>
              </uib-tab>
            </uib-tabset>
          </form>
        </div>
    </div>
  </section>
</article>
