<h1 class="sologan" style="text-align:center;">Connect Travellers with Local Host & Friends for 
Truly Travelling Experiences throughout Vibrant Vietnam</h1>
<div class="slider">
<div class="forcefullwidth_wrapper_tp_banner" style=
"position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
<div class="rev_slider_wrapper fullwidthbanner-container" id=
"rev_slider_4_1_wrapper">
<!-- START REVOLUTION SLIDER 5.0.6 fullwidth mode -->
		<div class=
		"rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive"
		data-version="5.0.6" id="rev_slider_4_1" ng-init="loadImageForSlider();">
			<flex-slider slide="slide in slides track by $index">
				<li>
						 <img class="test" ng-style="{'background-image': 'url(' + slide.url + ')'}">
						 <!-- <div id="test"></div> -->
				</li>
			</flex-slider>
		</div>
</div>
<div class="tp-fullwidth-forcer" style=
"width: 100%; height: 551px;"></div>
</div><!-- END REVOLUTION SLIDER -->
</div>
<div class="container layout-container margin-top margin-bottom">
<div class="page-single">
	<form ng-submit="searchForExperience(searchForTheDestination, kindOfExperiences);" class="row">
    <input type="hidden" name="toursearch" value="1">

    <div class="col-md-6">
        <input type="text" placeholder="Search for the destination you want to visit in Vietnam" ng-model="searchForTheDestination" required>
        <i class="td-search-1"></i>
    </div>

    <div class="col-md-6">
        <select name="singleSelect" ng-model="kindOfExperiences">
      		<option value="">Search for the kind of experiences you want to have with the locals</option>
            <option class="level-0" value="0">Learning Vietnamese cuisine and dining with locals</option>
            <option class="level-0" value="1">Experiencing agricultural activities with locals</option>
            <option class="level-0" value="2">Making traditional handicraft products with locals</option>
            <option class="level-0" value="3">Experiencing traditional festivals and customs with locals</option>
            <option class="level-0" value="4">Experiencing off-the-beaten-track sightseeing tours with locals</option>
    	</select>
    </div>
    <button type="submit" class="atbtn atbtn--full-width">Find</button>
</form>
</div>
</div>
