<form id="id-register-form" class="cd-form" ng-if="option=='signup'" ng-submit="signUp(user)">
    <input type="hidden" name="csrfmiddlewaretoken" value="M6PHokm8zWMhcsFXJWe53uKrgg4cJEci">
    <p class="fieldset" style="margin-top:0">
      <div class="social-wrap c">
        <button class="facebook">Sign up <em>w/</em> Facebook</button>
        <div>
          <google-plus-signin clientid="217381421837-mfsplrg87t3o2u9toscpgrbsoh5ev42m.apps.googleusercontent.com"></google-plus-signin>
        </div>
      </div>
    </p>

    <h2><span>or</span></h2>

    <p class="fieldset">
        <label class="image-replace cd-username" for="first_name">First Name</label>
        <input id="id_first_name" maxlength="100" name="first_name" class="full-width has-padding has-border" type="text" placeholder="First Name" required="" ng-model="user.first_name">
    </p>

    <p class="fieldset">
        <label class="image-replace cd-username" for="last_name">Last Name</label>
        <input id="id_last_name" maxlength="100" name="last_name" class="full-width has-padding has-border" type="text" placeholder="Last Name" required="" ng-model="user.last_name">
    </p>

    <p class="fieldset">
        <label class="image-replace cd-email" for="signup-email">E-mail</label>
        <input id="id_username" class="full-width has-padding has-border" maxlength="300" name="username" placeholder="E-mail" type="email" required="" ng-model="user.testEmail">
    </p>

    <p class="fieldset">
        <label class="image-replace cd-password" for="signup-password">Password</label>
        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password" required="" ng-model="user.password">
    </p>

    <p class="fieldset">
        <!-- <label style="font-size: 11pt" for="accept-terms">By creating an account you agree to Culture Connect's
            <a href="/privacy-policy/">Terms of Service</a> and <a href="/privacy-policy/">Privacy Policy</a>.
        </label> -->
    </p>

    <p id="id_register_button_fieldset" class="fieldset">
        <!--<input class="full-width" type="submit" value="Create account">-->
        <button id="id_register_button" class="ladda-button" data-style="zoom-out" type="submit">
            <span class="ladda-label">Create account</span>
        <span class="ladda-spinner"></span></button>
    </p>
</form>

<!-- login -->
<form id="id-login-form" class="cd-form" ng-if="option=='signin'">

    <p class="fieldset">
      <div class="social-wrap c">
        <button class="facebook" ng-click="loginWithFacebook();">Sign in <em>w/</em> Facebook</button>
        <google-plus-signin clientid="217381421837-mfsplrg87t3o2u9toscpgrbsoh5ev42m.apps.googleusercontent.com"></google-plus-signin>
      </div>
    </p>

    <h2><span>or</span></h2>

    <input type="hidden" name="csrfmiddlewaretoken" value="M6PHokm8zWMhcsFXJWe53uKrgg4cJEci">


    <p class="fieldset">
        <label class="image-replace cd-email" for="id_username">E-mail</label>
        <input class="full-width has-padding has-border" id="id_username" type="email" name="username" placeholder="E-mail">
    </p>

    <p class="fieldset">
        <label class="image-replace cd-password" for="id_password">Password</label>
        <input class="full-width has-padding has-border" id="id_password" name="password" type="password" placeholder="Password">
    </p>



    <p class="fieldset">
        <input type="checkbox" id="remember-me" checked="">
        <label for="remember-me">Remember me</label>
    </p>

    <p class="fieldset">
        <input id="id-login-button" class="full-width" type="submit" value="Login">
    </p>
</form>
